.div-container {
  margin: 10px;
  background-color: rgba(91, 109, 130, 0.806);
  min-width: 600px;
  min-height: 400px;
}
h3 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: black;
}

.caption-p {
  color: rgb(255, 255, 255);
  font-style: oblique;
  background-color: black;
}
.background-image {
  background-size: cover;
  background-position: center;
}
